<a href="https://colab.research.google.com/github/sakuronohana/my_datascience/blob/master/da_convid-19_vs_influenza/convid-19-analyse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Convid-19 Analyse#

In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import datetime

cv19_conf_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv'
cv19_death_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv'
cv19_recy_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv'

cv19confdat = pd.read_csv(cv19_conf_url)
cv19deathdat = pd.read_csv(cv19_death_url)
cv19recy = pd.read_csv(cv19_recy_url)


cv19confdat.groupby('Country/Region').mean()

                                    Lat      Long  ...  3/14/20  3/15/20
Country/Region                                     ...
Afghanistan                     33.0000   65.0000  ...     11.0     16.0
Albania                         41.1533   20.1683  ...     38.0     42.0
Algeria                         28.0339    1.6596  ...     37.0     48.0
Andorra                         42.5063    1.5218  ...      1.0      1.0
Antigua and Barbuda             17.0608  -61.7964  ...      1.0      1.0
...                                 ...       ...  ...      ...      ...
Uruguay                        -32.5228  -55.7658  ...      4.0      4.0
Uzbekistan                      41.3775   64.5853  ...      0.0      1.0
Venezuela                        6.4238  -66.5897  ...      2.0     10.0
Vietnam                         16.0000  108.0000  ...     53.0     56.0
occupied Palestinian territory  31.9522   35.2332  ...      0.0      0.0

[147 rows x 56 columns]

###Berechnung CONVID-19 Mortalitätsrate pro betroffenes Land###

In [0]:
cv19mortrate = pd.DataFrame([])
cv19deathdat = cv19deathdat.sort_values(by=['Country/Region'])

for i in cv19confdat['Country/Region'].drop_duplicates():
  test = cv19confdat[cv19confdat['Country/Region'] == str(i)].sort_values(by=['Country/Region'])
  test0 = test.iloc[:,-1].drop_duplicates()
  test1 = cv19deathdat[cv19deathdat['Country/Region'] == str(i)].iloc[:,-1].drop_duplicates()
  test2 = (test1 * 100)/test0
  print(test2.dropna())

In [52]:
cv19confdat

    Province/State            Country/Region  ...  3/14/20  3/15/20
0              NaN                  Thailand  ...       82      114
1              NaN                     Japan  ...      773      839
2              NaN                 Singapore  ...      212      226
3              NaN                     Nepal  ...        1        1
4              NaN                  Malaysia  ...      238      428
..             ...                       ...  ...      ...      ...
445            NaN  Central African Republic  ...        0        1
446            NaN       Congo (Brazzaville)  ...        0        1
447            NaN         Equatorial Guinea  ...        0        1
448        Mayotte                    France  ...        0        1
449            NaN                Uzbekistan  ...        0        1

[450 rows x 58 columns]

In [0]:
ch_conf = cv19confdat[cv19confdat['Country/Region'] == 'Switzerland']
ch_conf = ch_conf.drop(['Province/State',	'Country/Region',	'Lat',	'Long'],axis=1)

ch_conf_dat = ['2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20']

ValueError: ignored