<a href="https://colab.research.google.com/github/sakuronohana/my_datascience/blob/master/udemy/mlaz/Part%204%20-%20Clustering/Section%2024%20-%20K-Means%20Clustering/Python/k_means_clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unsupervised Learning

Verlassen wir nun den Bereich des Überwachten Lernens (Supervised Learning) und widmen uns den unüberwachten Lernens (Unsupervised Learning). Beim unüberwachten Lernen muss der ML-Algorithmus die Datenstruktur selbst erkennen bzw. hat keine Labels (abhängige Variablen) welche im aufzeigen ob er richtig liegt oder nicht. Der Algorithmus gruppiert hierbei meist die verschiedenen ähnlichen Datenpunkte was Clustering genannt wird.
Clustering ähnelt der Klassifizierung, die Basis ist jedoch unterschiedlich. Beim Clustering weiss man nicht, wonach man sucht, und versucht, einige Segmente oder Cluster in den Daten zu identifizieren. Wenn man Clustering-Algorithmen für den Datensatz vewendet, können plötzlich unerwartete Dinge wie Strukturen, Cluster und Gruppierungen auftauchen, an die man sonst nie gedacht hätte.

## K-Means Clustering

Der **k-Means-Algorithmus** ist ein Verfahren zur Vektorquantisierung, welches auch zur Clusteranalyse verwendet wird. Dabei wird aus einer Menge von ähnlichen Objekten eine vorher bekannte Anzahl von k Gruppen gebildet. Der Algorithmus ist eine der am häufigsten verwendeten Techniken zur Gruppierung von Objekten, da er schnell die Zentren der Cluster findet. Dabei bevorzugt der Algorithmus Gruppen mit geringer Varianz bzw. Distanz und ähnlicher Größe. 

k-Means Clustering funtioniert in etwa wie folgt:

![alt text](https://image.slidesharecdn.com/kmeansclusteringalgorithmkmeansclusteringexamplemachinelearningalgorithmssimplilearn-180323072616/95/k-means-clustering-algorithm-k-means-clustering-example-machine-learning-algorithms-simplilearn-32-1024.jpg?cb=1521790168)

Nehmen wir an, das wir die Inputs x1, x2, x3 .... und den K-Wert,

1. Schritt: Zufallsauswahl von k als Cluster Center (Centroids) *Hinweis: Centroids befinden sich nicht wirklich im Cluster-Center*
Mathematisch sieht das wie folgt aus, wobei *C* die Summe aller Centroids und $c_n$ jeden einzelnen Centroid darstellt:

      $C= c_1,c_2,...c_k$
      
2. Schritt:  Zuweisung jedes xi zum nächsten Cluster durch die Berechnung der Distanz zu jedem Centroid. Bspw. x1 zu c1, c2 und c4.

    $arg  min  dist (c_i, x)^2$
    
    $^C_i \in C$

3. Schritt: Suchen eines neuen Cluster Centers mittels arithmetischen Mittels der bereits zugewiesenen Datenpunkte.

4. Schritt: Wiederholen der Schritte 2 und 3 bis sich die Positionen der Centroids nicht mehr verändern.


Zur Ermittlung der Distanzen werden die gleichen Distanzfunktionen (Euc) eingesetzt wie bei KNN.

**Wichtige Begriffe:** 

* Unlabeled Daten = Geben in Gegensatz zu gelabelten Daten keine Lösung vor. 
* K = Anzahl Datenpunkte die gewählt werden um Cluster zu bilden.
* Cluster centroids = Nennt man die mit K ausgewählten Datenpunkte.

**Tutorial Video** [KMeans Clustering Algorithmus](https://www.youtube.com/watch?v=Xvwt7y2jf5E&feature=youtu.be)

## Importing the libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Importing the dataset

Beim folgenden Datensatz geht es um eine Anzahl Kunden eines Shoppingcenters bei welchen das Geschlecht, Alter, jährliches Einkommen und Ausgaben in Form einer Werteskala erfasst wurden.

In [6]:
datloc = 'https://raw.githubusercontent.com/sakuronohana/my_datascience/master/udemy/mlaz/Part%204%20-%20Clustering/Section%2024%20-%20K-Means%20Clustering/Python/Mall_Customers.csv'
dataset = pd.read_csv(datloc)

In [8]:
dataset

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

## Using the elbow method to find the optimal number of clusters

## Training the K-Means model on the dataset

## Visualising the clusters