<a href="https://colab.research.google.com/github/sakuronohana/my_datascience/blob/master/Datenanalyse_Schusswaffengebrauch_(CH).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Analyse der Todesfälle durch Schusswaffen in der Schweiz von 1995 - 2016#



Das Ziel der folgenden Datenanalyse ist eine visualisierte Darstellung der Todesfälle durch Schusswaffen in der Schweiz. Das verwendete Datenset des BIS enthält:

*   Todesfälle pro Jahr
*   Todesfälle pro Geschlecht und Jahr
*   Todesfälle Unterteil in Suizid und Andere pro Geschlecht und Jahr.

Herkunft Datenset: Bundesamt für Statisik ([Webseite](https://www.bfs.admin.ch))

In [120]:
import pandas as pd
import numpy as np
import matplotlib as mpl

# Importieren der Daten
# Wir importieren die Daten direkt von der BfS Seite
swt_data_raw = pd.read_excel('https://www.bfs.admin.ch/bfsstatic/dam/assets/7008098/master')

list0 = ['Schusswaffentodesfälle']
list = ['1995',	'1996',	'1997',	'1998',	'1999',	'2000',	'2001',	'2002','2003',
'2004','2005','2006','2007','2008','2009',	'2010',	'2011',	'2012',
'2013',	'2014',	'2015',	'2016']

# Bereinigung der Daten
swt_data_clean0 = swt_data_raw.dropna() #Bereinigt Daten mit NaN
swt_data_clean1 = swt_data_clean0.drop(5, axis=0) #Löscht Zeile 5
swt_data_clean1.columns = ['Schusswaffentodesfälle',
'1995',	'1996',	'1997',	'1998',	'1999',	'2000',	'2001',	'2002','2003',
'2004','2005','2006','2007','2008','2009',	'2010',	'2011',	'2012',
'2013',	'2014',	'2015',	'2016'] #Ändert die Bezeichnung der Spalten
swt_data_clean2 = swt_data_clean1.drop('Schusswaffentodesfälle', axis=1)


swt_data_clean2.rename(index = 
                       {7:'Anzahl Schusswaffentote insgesamt',
                       8:'Männer',9:'Frauen',11:'Schusswaffen-Suizide',		
                       12:'Männer',13:'Frauen',15:'Andere Schusswaffen-Todesfälle',
                       16:'Männer',17:'Frauen'},	
                       inplace = True) # Änderung der Zeilenbeschriftung

swt_data_clean2[list] = swt_data_clean2[list].astype(int) 



swt_data_clean2.head(20)

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Anzahl Schusswaffentote insgesamt,436,454,434,466,392,387,408,397,339,318,...,291,259,277,241,239,222,248,195,231,229
Männer,400,415,377,444,363,366,368,364,316,287,...,272,246,259,225,214,211,229,186,217,215
Frauen,36,39,57,22,29,21,40,33,23,31,...,19,13,18,16,25,11,19,9,14,14
Schusswaffen-Suizide,392,397,358,413,346,351,349,351,300,271,...,264,239,253,222,210,205,222,187,211,212
Männer,370,373,335,400,330,336,328,338,286,258,...,257,231,246,213,194,200,213,182,205,205
Frauen,22,24,23,13,16,15,21,13,14,13,...,7,8,7,9,16,5,9,5,6,7
Andere Schusswaffen-Todesfälle,44,57,76,53,46,36,59,46,39,47,...,27,20,24,19,29,17,26,8,20,17
Männer,30,42,42,44,33,30,40,26,30,29,...,15,15,13,12,20,11,16,4,12,10
Frauen,14,15,34,9,13,6,19,20,9,18,...,12,5,11,7,9,6,10,4,8,7