<a href="https://colab.research.google.com/github/sakuronohana/my_datascience/blob/master/Datenanalyse_Schusswaffengebrauch_(CH).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Analyse der Todesfälle durch Schusswaffen in der Schweiz von 1995 - 2016#



Das Ziel der folgenden Datenanalyse ist eine visualisierte Darstellung der Todesfälle durch Schusswaffen in der Schweiz. Das verwendete Datenset des BIS enthält:

*   Todesfälle pro Jahr
*   Todesfälle pro Geschlecht und Jahr
*   Todesfälle Unterteil in Suizid und Andere pro Geschlecht und Jahr.

Herkunft Datenset: Bundesamt für Statisik ([Webseite](https://www.bfs.admin.ch))

In [123]:
import pandas as pd
import numpy as np
import matplotlib as mpl

# Importieren Datas
# We importing the data direct from the BfS Site
swt_data_raw = pd.read_excel('https://www.bfs.admin.ch/bfsstatic/dam/assets/7008098/master')

list = ['1995',	'1996',	'1997',	'1998',	'1999',	'2000',	'2001',	'2002','2003',
'2004','2005','2006','2007','2008','2009',	'2010',	'2011',	'2012',
'2013',	'2014',	'2015',	'2016']

# Bereinigung der Daten
swt_data_clean0 = swt_data_raw.dropna() #Bereinigt Daten mit NaN
swt_data_clean1 = swt_data_clean0.drop(5, axis=0) #Löscht Zeile 5
swt_data_clean1.columns = ['Schusswaffentodesfälle',
'1995',	'1996',	'1997',	'1998',	'1999',	'2000',	'2001',	'2002','2003',
'2004','2005','2006','2007','2008','2009',	'2010',	'2011',	'2012',
'2013',	'2014',	'2015',	'2016'] #Ändert die Bezeichnung der Spalten
swt_data_clean2 = swt_data_clean1.drop('Schusswaffentodesfälle', axis=1)


swt_data_clean2.rename(index = 
                       {7:'Total number of deaths from firearms',
                       8:'Men',9:'Women',11:'Firearm suicides',		
                       12:'Men',13:'Women',15:'Other firearms deaths (not suicides)',
                       16:'Men',17:'Women'},	
                       inplace = True) # Änderung der Zeilenbeschriftung

swt_data_clean2[list] = swt_data_clean2[list].astype(int) 

swt_data_clean2.head()

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Total number of deaths from firearms,436,454,434,466,392,387,408,397,339,318,...,291,259,277,241,239,222,248,195,231,229
Men,400,415,377,444,363,366,368,364,316,287,...,272,246,259,225,214,211,229,186,217,215
Women,36,39,57,22,29,21,40,33,23,31,...,19,13,18,16,25,11,19,9,14,14
Firearm suicides,392,397,358,413,346,351,349,351,300,271,...,264,239,253,222,210,205,222,187,211,212
Men,370,373,335,400,330,336,328,338,286,258,...,257,231,246,213,194,200,213,182,205,205