<a href="https://colab.research.google.com/github/sakuronohana/my_datascience/blob/master/Machine_Learning_Modells.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Machine Learning - Modelle & Maths#

In diesem Jupyter Notebook werden die bekanntesten ML Modelle inkl. der dazugehörtenden mathematische Formeln erläutert.

![alt text](https://cdn-images-1.medium.com/max/1600/1*Gbfq8wTIyHBnC5oDhzNACw.png)

##Regression##

Bei den regressiven Modellen geht es vereinfacht gesagt darum, mit Hilfe von historischen Daten in Form von Zahlen eine Prediction bzw. Voraussage über die zukünftige Entwicklung des untersuchten Gebiets (bsp. Börsenkurse, Temperatur, Materialverschleis, usw.) zu treffen.

###Lineare Regression###

Die lineare Regression gehört zu den einfachsten der Regressionen und orientiert sich, wie der Name schon sagt, an einer Gerade. Mit diesem Modell können Daten mit einfachen Strukturen verarbeitet werden.

In [65]:
#Lineare Regression

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

'''Wir erstellen zuerst zwei Dataframes mit jeweils einem 1D Array mit 
Temperaturen und Tagen'''

list = [[1,25.2],[2, 20.5],[3,21.9],[4,23.5],[5,24.1],[6,22.3],[7,20.5]]

df_temp = pd.DataFrame(list, columns=['Day', 'Temp.'])

df_temp


#df_temp.plot.scatter(x='Day',y='Temp')

   Day  Temp.
0    1   25.2
1    2   20.5
2    3   21.9
3    4   23.5
4    5   24.1
5    6   22.3
6    7   20.5