<a href="https://colab.research.google.com/github/sakuronohana/my_datascience/blob/master/Python_Bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Zahlen

Python beinhaltet verschiedene "Arten" (en.: types) von Zahlen. Wir werden uns hauptsächlich mit Ganzzahlen (en.: integers) und Kommazahlen (en.: floats) beschäftigen. Später unternehmen wir einen kurzen Abstecher zu den komplexen Zahlen (en.: complex numbers). Integers sind einfach ganze Zahlen, positiv und negativ. Zum Beispiel: 2 und -2 sind Integers. Floats sind Kommazahlen und in Python besonders, da sie einen Dezimalpunkt oder einen Exponenten (e) beinhalten, um die Zahl zu definieren. Zum Beispiel sind 2.0 und -2.1 Zahlen mit Dezimalpunkt. 4E2 (4 mal 10 hoch 2) ist ebenso ein Beispiel für eine Float-Zahl in Python

http://nbviewer.jupyter.org/github/datamics/Originale-Python-Bootcamp/blob/master/1%20Python%20Grundlagen/1-Grundlagen%20der%20Python%20Objekte%20und%20Datenstrukturen/1-Zahlen.ipynb

In [0]:
# Addition
1 + 2

3

In [0]:
# Subtraktion
2 - 1

1

In [0]:
# Multiplikation
1 * 2

2

In [0]:
# Division - Wird im Python3 im Float Type ausgegeben.
4/2

2.0

In [0]:
# Potenzen 
2**3

8

In [0]:
# Wurzel
2**0.5

1.4142135623730951

In [0]:
# Reihenfolge der Operationen wird automatisch durch Python sichergestellt. Bsp. Klammer, Punkt vor Strich
(2 + 10) * 10 + 3

123

In [0]:
# Variablen zuweisen. Namen dürfen nicht mit Zahl beginnen bsp. 4a, es darf keine Leerzeichen bsp a 4 (a_4) und 
# spezielle Sonderzeichen enthalten.
a=5
a+a

10

In [0]:
# Variablen lassen sich in verschiedensten Varianten einsetzt 
einkommen = 100
steuersatz = 0.15
steuer = einkommen * steuersatz
steuer

15.0

## Strings

Strings werden in Python dazu benutzt, um Textinformationen, wie bspw. Namen, festzuhalten.
Genau genommen sind Strings in Python eine Sequenz. Das bedeutet, dass Python jedes einzelne Element in der Sequenz (in diesem Fall ein String) individuell beachtet. Ein Beispiel ist der String "hallo", den Python als Sequenz der einzelnen Buchstaben in einer bestimmten Reihenfolge speichert. Das hat zur Folge, dass wir später in der Lage sein werden zu indexieren und so bestimmte Buchstaben (z.B. den ersten oder letzten) aus einem String auszulesen.

Diese Idee einer Sequenz ist wichtig in Python und sie wird uns begleiten.

Zu den Sequenzen in Python gehören:

    Strings
    Listen
    Tupel
    Binärdaten

In [0]:
'hallo, ich bin ein Wort'

'hallo, ich bin ein Wort'

In [0]:
# Wenn innerhalb eines Strings Hochkommas verwendet werden, dann muss mit Anführungszeichen gearbeitet werden.
"Hallo ich bin's"

"Hallo ich bin's"

In [0]:
print("Hallo Welt!")
print("Hallo Mond")

Hallo Welt!
Hallo Mond

In [0]:
# Möchte man den String verschiedene Zeilen verteilen dann benötigt man ein \n (Auf Mac mit Umschalt+Alt+7)
print("Eine neue Zeile \n in eine neue Zeile")

Eine neue Zeile
 in eine neue Zeile

In [0]:
# Um einen Tab einzufügen muss man \t benutzen.
print("Hier kommt eine Tab \t in der Zeile")

Hier kommt eine Tab 	 in der Zeile

In [0]:
# Um die länge bzw. Anzahl Zeichen in eine String zu ermitteln verwenden wir len
len("Hallo Welt")

10

In [0]:
# Die Ausgabe von bestimmten Zeichen wird mit einer eckigen Klammer und der entsprechenden Nummer augegeben
s = "Hallo Welt!"
print(s[0]) # Hiermit wird die Positon 0 bzw. das erste Zeichen der Variable s augegeben

H

In [0]:
# Es lässt sich natürlich auch eine ganze Zeichenkette von einer bestimmten Positon aus, ausgeben.
print(s[1:]) # Nach 0
print(s[:3]) # von 0 bis 3
print(s[:]) # ganzer String
print(s[-3:]) # von hinten angefangen
print(s[::2]) # nur jeder 2. Buchstabe wird ausgegeben

allo Welt!
Hal
Hallo Welt!
lt!
HloWl!

In [0]:
# Um einen String zu erweitern kann man das + Zeichen verwenden. 
s + " Hi Mond" # Achtung dies wir nicht unter der Variabel s gespeichert. 
sx = s + " Hi Mond" # nun ist es in eine neuen Variabel gespeichert.
sx

'Hallo Welt! Hi Mond'

In [0]:
# Auch Multiplikation in den Strings ist möglich bzw. der String wird um die Anzahl im Multiplikator erhöht.
s = "Z"
s*10

'ZZZZZZZZZZ'

In [0]:
# Der String ist eine Objekt für welche eine bestimmte Methode mit zusätzlichen Parametern ausgeführt wird
# Objekt.Methode(Parameter)
s = 'Hallo Welt'
s.upper() # Wandelt alle Zeichen im String in Grossbuchstaben

'HALLO WELT'

In [0]:
# Eine der wichtigsten Methoden ist split
s.split() # Fügen wir nichts in die Klammern, dann trennt Split einfach jedes Wort.

['Hallo', 'Welt']

In [0]:
# Wir können aber in der Klammer auch definieren wo der Split stattfinden soll
s.split ('W') # Python splittet jetzt den String bei W

['Hallo ', 'elt']

## Ausgabe Formatierung

In [0]:
# Hier wird gezeigt in welchen verschiedenen Arten bzw. Methoden die Print Anweisung formatiert werden kann.
# Empfohlen Methode um die Strings zu bearbeiten ist .format(). Es wird her aber auch andere vorgestellt.

In [0]:
# Das ist eine normale Ausgabe eines Strings
print("Das ist ein String")

Das ist ein String

In [0]:
# Wollen wir eine bestimmte Variable in einen String einführen so machen wir das wie folgt. Dazu verwenden wir das %s
s = "String"
print('Setze einen String mit einem mod und s ein: %s' %(s)) #

Setze einen String mit einem mod und s ein: String

In [0]:
print('Kommazahlen: %1.0f' %(13.144)) # In diesem Beispiel generieren wir einen Platzhalter für Float ohne Komma

Kommazahlen: 13

In [0]:
# Nun kommen wir zur Umwandlungsmethode diese können wir mit %s (String) %r (Repräsentativ)
print('Hier ist eine Nummer: %s. Hier ist ein String: %s' %(123.1, 'hi'))

# In diesem Beispiel können wir auch %r anstelle %s verwendet. Kommt auf das gleiche Resultat

Hier ist eine Nummer: 123.1. Hier ist ein String: hi

In [0]:
# Wir können hiermit natürlich auch eine Tuple (unveränderbare Liste)
print ('Erstes: %s, zweite %s, drittes %r' %(('Hi',3.14,22)))

Erstes: Hi, zweite 3.14, drittes 22

In [0]:
# So weit so gut. Wie bereits erwähnt ist es am Besten, wenn man generell die Format Methode nimmt
print('Das ist ein String mit einer {p}'.format(p='Einfügung'))

Das ist ein String mit einer Einfügung

In [0]:
# Auch mit der Format-Methode lassen sich mehrer Objekte analog einer Liste ausgeben.
print('Erste Ausgabe {a}, Zweite Ausgabe {b}, Dritte Ausgabe {c}'.format(a=1, b=2, c='Drei'))

# Die Reihenfolge der Ausgabe spielt dabei keine Rolle

Erste Ausgabe 1, Zweite Ausgabe 2, Dritte Ausgabe Drei

# Listen

Auch schon mit normalen Strings können Sequenzen bzw. Auflistungen gemacht werden diese sind aber im normalfall nicht änderbar. Listen hingegen lassen sich auf verschiedenen Arten einsetzen und lassen sich auch jederzeit beliebig ändern und erweitern.

In [0]:
# In Listen lassen sich verschieden Arten von Typen (String, Float usw) unterbringen
liste = [1,2,3,'String', 2.4]

In [0]:
# Die Listen lassen sich auf verschiedene Arten ausgeben

len(liste) # Zeigt die Länge eines Liste bzw. die in der Liste erfassten Elemente 
liste[2] # Zeigt das dritte Element, beginnend mit 0, aus der Liste
liste[:2] # Gibt alles bis zum Element 3 aus. Achtung ab beginnt ab 0
liste[2:] # Gibt alles ab dem Element 3 aus.
liste[1:3] # Gibt alles zwischen Element 2 und 4 aus

[2, 'String']

In [0]:
#Die Liste kann auch beliebig erweitert werden. Die hier beschriebene Erweiterung ist aber nur Temporär
liste + ['Neues Element']

In [0]:
# Um die Liste permanent zu erweitern muss eine neue Liste angelegt werden.
liste = liste + ['Neues Element']
liste

[1, 2, 'String', 2.4, 'Neues Element', 'Neues Element', 'Neues Element']

In [0]:
# Einen gängige Methode einen Wert einer Liste hinzuzufügen ist die Methode .append
liste.append('Ein neueres Element')
liste

[1, 2, 3, 'String', 2.4, 'Ein neueres Element']

In [0]:
# Um ein Element wieder aus der Liste zu entfernen kann die Methode .pop verwendet werden
liste.pop(0) # Wir entfernen hier die 1
liste

[2, 3, 'String', 2.4, 'Ein neueres Element']

In [0]:
# Um ein Element aus einer Liste zu enfernen und in eine andere Liste zu transferieren 
pop = liste.pop(1)
pop

[2, 2.4, 'Ein neueres Element']

In [0]:
# Eine weitere Ausgabemöglichkeit ist die Berechnung 
liste * 2 # Gibt die Liste zweimal aus
liste[1] + 2 # Addiert das erste Elemente mit 2 resp. 1 + 2
liste[2] * 2 # Multipliziert das zweite Element mit 2

'Ein neueres ElementEin neueres Element'

In [0]:
# Um die Reihenfolgen einer Liste zu ändern kann wie folgt vorgegangen werden.
neue_liste = ['a','s', 'd', 'f']
neue_liste.reverse() # Die neue Liste wird jetzt umgekehrt erstellt
neue_liste.sort() # Die umgekehrte Liste kann jettzt noch alfapethisch sortiert werden
neue_liste

['a', 'd', 'f', 's']

In [0]:
# Es können natürlich auch Listen in Listen erstellt werden. Eine sogennante Matrix
list_1 = [1,2,3]
list_2 = [4,5,6]
list_3 = [7,8,9]
matrix = [list_1, list_2, list_3] # Wir fügen nun die Listen zu einer Matrix zusammen
matrix # Hier geben wir nun die Matrix mit ihren 3 Zeilen aus

TypeError: sequence item 0: expected str instance, int found

In [0]:
# Die erstellte Matrix kann man sich jetzt wie folgt vorstellen:
#   y y y
# x 1 2 3
# x 4 5 6
# x 7 8 9
# x repräsentiert die Zeile und y die Spalte

# Für den Zugriff muss zuerst die Zeile und dann das Element angegeben werden
matrix[0] #Gibt die komplette erste Zeile (0) aus
matrix[0][1] #Gibt das zweite Element der ersten Zeile aus

2

In [0]:
# Wir erstellen nun aus der Matrix eine erste Spalte mit Hilfe einer for-Schleife
spalte_1 = [zeile[0] for zeile in matrix]
spalte_1

TypeError: sequence item 0: expected str instance, int found

In [0]:
spalte_1[:2]

[1, 4]

# Dictionaries

Dictionaries auch bekannt als Mapping sind Sammlungen von Objekten welche über einen Key gespeichert werden. Ein wesentlicher Unterschied zu den Listen ist, dass hier nicht über einen Index [0] usw. auf die Objekte zugegriffen werden kann sondern nur mittels Key. Zudem wird bei Dicts mit geschweiften Klammern gearbeitet. (Mac = alt + 8{ und 9}

In [0]:
d = {'Key':'Wert','Key2':'Wert2'}
d['Key'] # Der Zugriff auf den Wert wir nun mittels Key gemacht.

'Wert'

In [0]:
# In einen Dict können die Keys im Gegensatz zu den Werten in einen Dict nicht mehr verändert werden
# In einem Dict können alle Arten von Element verstaut werden. Der Zugriff kann dann gemäss der 
# verschiedenen Methoden durchgeführt werden. 
dict = {'K_Int': 1234, 'K_Float':12.33, 'K_String':"String", 'K_List':['A', 'B', 'C']}
dict['K_Int']
dict['K_List'][0] # Beispiel für den Zugriff auf Liste
dict['K_String'].upper() # Beispiel für Zugriff auf String mit entsprechenden Methoden
dict['K_Int']-3+5 # Beispiel einer arithmetischen Operation

1236

In [0]:
# Ein Dictionary kann auch durch neue Werte ergänzt werden
dict['Tier'] = 'Hund'
dict['Zahl'] = 12
dict

{'K_Int': 1234,
 'K_Float': 12.33,
 'K_String': 'String',
 'K_List': ['A', 'B', 'C'],
 'Tier': 'Hund',
 'Zahl': 12}

In [0]:
# Dictionaries lassen sich auch gut verschachteln bzw. ein Dict kann wie eine Liste auch in einem Dict erstellt werden
dict2 ={'Key': {'Unterkey': {'Unterunterkey': 'Wert'}}}
dict2['Key']['Unterkey']

{'Unterunterkey': 'Wert'}

In [0]:
# Auch in einen Dictionary bestehen Methoden
#dict2. # mit TAB-Taste zeigen alle verfügbaren Methoden
dict2.items

In [0]:
dict2.values()

dict_values([{'Unterkey': {'Unterunterkey': 'Wert'}}])

# Tuple

Tubel sind ähnlich wie Listen nur können sie nicht mehr verändert bzw. ergänzt werden. Deshalb verwendet man Tubel 
vor allem dann wenn es Werte gibt die nicht mehr geändert werden müssen Bsp. Wochentage, usw. Tubel werden aber im Gegensatz zu Listen viel weniger eingesetzt.

In [0]:
tub = ['Montag', 'Dienstag', 'Mittwoch']
tub[0] # Der Zugriff auf eine Element im Tubel ist wie bei einer Liste
tub[0:2] # Gibt alle Elemente von 0-1 aus

['Montag', 'Dienstag']

In [0]:
# Auch hier bestehen Methoden wieder tub. + TAB. Es werden zwar diverse Methoden angezeigt die meisten gelten jedoch
# für die Listen. Für Tubels bestehen lediglich zwei Methoden
tub.index('Montag') # Zeigt den Index also 0 des Elements an
tub.count('Montag') # Zeigt die Anzahl der gleichen Elemente im Tubel an

1

In [0]:
# Und hier noch der Beweis, dass am Tubel kein weiteres Element angehängt werde kann.
tub.append['Donnerstag']

NameError: name 'tub' is not defined

# Dateien

Python nutzt Datei Objekte um mit externen Dateien auf eine Computer zu interagieren. Grundsätzlich kann Python mit
einer Vielzahl von Dateien arbeiten wobei für das eine oder andere Format noch zusätzlich Library Module installiert 
werden muss.

Bevor wir nun Anfang mit Dateien zu arbeiten, wollen wir zuerst herausfinden in welchem Working Directory 
wir arbeiten dazu geben wir den folgenden Befehl ein

In [0]:
pwd

'/Users/dili/Wissen/Work/Udemy-DataScience/Python_Bootcamp'

In [0]:
# Nun öffnen wir eine Datei und lesen sie
file = open('test.txt')
file.read()

'Das ist eine neue Datei'

In [0]:
# Eine Besonderheit im Python ist, dass wenn die Datei einmal gelesen wurde, diese nicht erneut gelesen werden kann.
# Dies hat damit zu tun, das der Cursor bei der letzten Lese-Operation am Ende der Datei verblieben ist. Ein er
file.read() # Gibt jetzt nur '' aus
file.seek(0) # Mit diesem Befehl kann man nun den Curson zurücksetzen
file.read() # Und danach funktioniert es wieder wie gewohnt.

'Das ist eine neue Datei\nDas ist die zweite Zeile'

In [0]:
# Als nächtes öffnen wir die Datei und schreiben etwas neues hinein
file = open('test.txt','w')
file.write('Das ist eine neue Zeile')

23

In [0]:
# Um den neuen Inhalt erneut lesen zu können müssen wir die Datei erneut im Read-Modus lesen
file = open('test.txt','r')
file.read()

'Das ist eine neue Zeile'

In [0]:
# Nun lesen wir mit einer Interation (Schleife for) die einzelnen Zeilen aus
for zeile in open('test.txt'):
    print(zeile)

Das ist eine neue Zeile

Das ist noch eine Zeile

# Sets und Booleans

Ein Set ist eine Sammlung von einzigartigen Elementen. Ein Set wird mit dem Befehl set()angelegt.

In [0]:
s = set()
s.add(1) # mit add lassen sich neue Elemente ins Set einführen.
s.add(2)
s.remove(2) # mit remove lassen sich die Elemente auch wieder löschen
s.

{1}

In [0]:
# Man kann Beispielsweise auch eine Liste in ein Set überführen. Dabei werden 
# dann aber die redundanten Elemente ausgefiltert.
list = [1,1,2,2,3,4,5,6,6]
set(list)

{1, 2, 3, 4, 5, 6}

Booleans sind Wahrheitswerte die entweder True (1) oder False (0) sind. Booleans werden oft benutzt um beispielsweise eine Entscheidung in einer Schleife zu forsieren.

In [0]:
a = ()
if a == True:
    print('Wahr')
else:
    print('Nicht Wahr')

Nicht Wahr

# Vergleichsoperatoren

In [0]:
2 == 2 # Wenn Wert der Operatoren gleich sind ergibt es true
2 != 1 # Wenn Wert der Operatoren nicht gleich sind ergibt es true
2 > 1 # Wenn ein Wert der Operatoren grösser ist ergibt es true
1 < 2 # Wenn ein Wert der Operatoren kleiner ist ergibt es true
2 >= 2 # Wenn ein Wert der Operatoren grösser oder gleich ist ergibt es true
1 <= 1 # Wenn ein Wert der Operatoren kleiner oder gleich ist ergibt

True

In [0]:
# Vergleichsoperatoren kann man auch verknüpfen
1 < 2 < 3 # Ergibt true
1 < 2 and 2 < 3 # Das vorherige Beispiel kann man auch so schreiben
1 == 2 or 2 < 3 # Auch mit or kann man Operatoren verknüpfen

True

# Anweisungen

## If, Elif und Else

if, elif und else werden verwendet um Aktionen abhängig von bestimmten Voraussetzungen oder Ergebnissen durchzuführen.
Sprachlich sieht das wie folgt aus:

"Falls (if) die Ampel rot anzeigt, da bleibe stehen und prüfen dein Mobil falls (elif) die Ampel orange oder grün anzeigt kannst du über die Strasse gehen falls (else) nichts von beidem zutrifft (Ampel defekt) schaue links und rechts und gehen dann über die Strasse"

In [0]:
r = 'rot'
g = 'grün'

i = input ('Gibt etwas ein: ') # Mit Input kann man einen Wert eingeben.

if i == r:
    print('Bleibe stehen und prüfe dein Mobile')
elif i == g:
    print('Du kannst über die Strasse gehen')
else:
    print('Die Ampel ist möglicherweise kaputt. Gehe wenn es frei ist')

Gibt etwas ein:
Die Ampel ist möglicherweise kapput. Gehe wenn es frei ist

## for Schleife

Eine for Schleife wird auch Loop genannt. Sie wird solange durchlaufen, bis ein definierte Wert erreich wurde. Die kann eine Zahl sein oder das Ende einer Lese-Operation in einer Datei.

Sprachlich ausgedrückt sieht das dann so aus:

"Das Buch hat 10 Seiten für (for) jede Seite (Item) im (in) Buch (Objekt) lese jeden Buchstaben bis du auf Seite 10 angekommen bist."

Der Syntax sieht wie folgt aus:

for item in object

Das item ist frei wählbar.

In [0]:
buch = [1,2,3,4,5,6,7,8,9,10] # Eine Liste wird erstellt
buch_sum = 0

for seite in buch:
    buch_sum += seite # Das += (Selbstzuweisung) ersetzt folgende Zeile buch_sum = buch_sum + Seite
    print ('Nun lese ich Seite', buch_sum)

# In dem Beispiel oben wird bei jeder Interation der vorherige Wert zum
# aktuelle Wert addiert, beginnend bei 0. bzw. 
# 0 + 1 = 1
# 1 + 2 = 3
# 3 + 3 = 6
# 6 + 4 = 10 usw.

Nun lese ich Seite 1
Nun lese ich Seite 3
Nun lese ich Seite 6
Nun lese ich Seite 10
Nun lese ich Seite 15
Nun lese ich Seite 21
Nun lese ich Seite 28
Nun lese ich Seite 36
Nun lese ich Seite 45
Nun lese ich Seite 55

In [0]:
# Ein guter Trick um nun beispielweise nur die geraden Zahlen auszugeben ist 
# der Einsatz von Modulo. Modulo (%) teil eine Zahl durch die andere und gibt
# dann nur den Resten aus. Hier Modulo mit for Schleife:

for seite in buch:
    if seite % 2 == 0:
        print('Nun lese ich nur jeweils die graden Seiten dieses Buchs', seite)

Nun lese ich nur jeweils die graden Seiten dieses Buchs 0
Nun lese ich nur jeweils die graden Seiten dieses Buchs 2
Nun lese ich nur jeweils die graden Seiten dieses Buchs 4
Nun lese ich nur jeweils die graden Seiten dieses Buchs 6
Nun lese ich nur jeweils die graden Seiten dieses Buchs 8
Nun lese ich nur jeweils die graden Seiten dieses Buchs 10

In [0]:
# Das ganze funktioniert auch mit Strings
for zeichen in 'String':
    print(zeichen)

S
t
r
i
n
g

In [0]:
# In Bezug auf Tuples hat die Schleife eine besonderer Bedeutung. So können
# die Tuple Elemente auf verschieden Arten entpackt werden.
l = [(2,4),(6,8),(10,12)] # Hier erstellen wir Tuple innerhalb einer Liste

for tup in l:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [0]:
for (t1,t2) in l:
    print(t1,t2)

2 4
6 8
10 12

In [0]:
# Auch in Zusammenhang mit Listen kann man die for Schleife verwenden
dict = {'k1':1,'k2':2,'k3':3}
for item in dict:
    print (item)

k1
k2
k3

In [0]:
dict.items() # So lassen sich überigen die in einem Dictionary definierten 
# Element bzw. Items ausgeben.

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [0]:
# Diese Methode kann in einer Schleife ebenfalls verwendet werden.
for k,v in dict.items(): # Wir definieren zwei Item Key und Value
    print(k,v)

k1 1
k2 2
k3 3

## while Scheifen

Die while Schleife gehört zu den allgemeinsten Wegen eine Interation durchzuführen. Eine while Schleife wird solange ausgeführt, wie ein Wert True ist. 

Sprachliche ausgedrückt sieht das so aus:

"Wenn (while) dein Bankkonto noch im plus ist, kannst du Geld vom Automaten abheben (Statement), ansonsten (else) musst du wieder Geld auf dein Bankkonto überweisen."

Der Syntax sieht wie folgt aus:

while test:
    code statement
else
    finales code statement

In [0]:
i = 1 # Wir definieren eine Initialwert
while i < 10: # Wir fordern die Scheife auf solange der Wert i kleiner als 10 ist duchzulaufen
    print('X ist aktuell: ',i)
    i+=1 # Damit der Wert i steigt lassen wir ihn in jeder Rund eine 1 dazuaddieren.
else:
    print('Fertig')

X ist aktuell:  1
X ist aktuell:  2
X ist aktuell:  3
X ist aktuell:  4
X ist aktuell:  5
X ist aktuell:  6
X ist aktuell:  7
X ist aktuell:  8
X ist aktuell:  9
Fertig

In [0]:
# Mit dieser Anweisung können auch noch andere Funktionen mit gegeben werden 
# Break: hier können wir aus einem Loop ausbrechen
# Continue: Geht an den Anfang des nächsten umfasseden Loops
# Pass: Tut gar nichts

x = 0
while x < 10:
    print(x)
    x+=1
    if x==3:
        print('x==3')
        break
    else:
        print('Fortsetzen..')
        continue
    print('nach continue')

0
Fortsetzen..
1
Fortsetzen..
2
x==3

Wichtig bei der While Schleife ist, dass folgender Befehl zu einer Endlosschleife führen würde. Also darauf achten nie den folgendne Befehl zu verwenden:
while True:
    print('Ach du Scheisse!')

## Range()

Die Funktion Range erlaubt es uns eine Liste von Nummern auszugeben und dabei einen Start- und Endpukt zu denfinieren. Zudem können wir die Schrittgrösse ausgeben. In Python3 verbindet man diese Funktion mit einer Liste.

Der Syntax gestaltet sich wie folgt:

range(start,ende,schrittgrösse)

In [0]:
range(10)
x = list(range(0,10,2))
print(x)

# Der letzte Wert wird nie ausgegeben

TypeError: 'list' object is not callable

In [0]:
# Hier noch eine weitere Variante wie man einen Start- und Endwert definieren kann
start = 0
end = 20
x = list(range(start,end))
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [0]:
# Im nächsten Beispiel können auch noch definieren in welchen Schritten die Ausgabe 
# erfolgen soll.
x = list(range(start,end,2)) # Hier wird in zweierschritten ausgegeben.
print(x)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [0]:
# In Zusammenhang mit diesen Funktionen (Range, List, Directory) stellt sich
# auch die Frage wie man eine grosse Anzahl von Daten im Memory behalten kann.
# die Lösung ist eine Generator mit der Funktion Range

for num in range(0,10,2): # Der Syntax von Range range(Startwert, Endwert, Schritte)
    print(num)

0
2
4
6
8

In [0]:
# Zahlen bis 50 durch 3 teilbar machen und nur diese Ausgeben welche durch 3 Teilbar sind
[x for x in range(1,50) if x%3 == 0] # Hier setzen wir Modulo ein

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

## Listen Abstraktion (List comprehension)

Die Listen-Abstraktion, eigentlich auch im Deutschen besser als "List Comprehension" bekannt, ist eine elegante Methode Mengen in Python zu definieren oder zu erzeugen. Die List-Comprehension kommt der mathematischen Notation von Mengen sehr nahe. In Mathematik definiert man die Quadratzahlen der natürlichen Zahlen beispielsweise als { x2 | x ∈ ℕ } oder die Menge der komplexen ganzen Zahlen { (x,y) | x ∈ ℤ ∧ y ∈ ℤ }.
So kann man Beispielsweise eine Formel definieren und jeweils die einzelnen Werte in der Liste berechnen und auf diese zugreifen.

In [0]:
# Hier eingehens nochmal ein Beispiel wie man eine Liste erstellt
l = []
for buchstabe in 'wort':
    l.append(buchstabe)
print(l)

['w', 'o', 'r', 't']

In [0]:
# Ein List comprehension erstellt man wie folgt
list = [buchstabe for buchstabe in 'Wort']
print(list)

['W', 'o', 'r', 't']

In [0]:
list = [x**2 for x in range(1,11)] # Beispiel mit Wurzel
print(list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [0]:
list = [x for x in range(11) if x % 2 == 0] # Beispiel mit Modulo
print(list)

[0, 2, 4, 6, 8, 10]

In [0]:
celsius = [0,10,21.2,36.7]

fahrenheit = [((9/5*temp+32)) for temp in celsius]
print(fahrenheit)

[32.0, 50.0, 70.16, 98.06]

In [0]:
list = [x**2 for x in range(11)]
for zahl in x:
    print(zahl) # Nun können wir eine if-Anweisung einbauen und einen bestimmten Wert abfragen
    if zahl == 4:
        print ('Dies ist ein bestimmter Wert')
    else:
        break

0

# Methoden

Methoden sind Funktionen die in Objekte eingebaut werden. Diese Methoden führen spezifische Aktionen mit dem Objekt durch können Parameter aufnehmen und Funktionen wiedergeben.

Der generelle Syntax einer Methode sieht wie folgt aus:

object.method(arg1,arg2,arg3,...)

In [0]:
# Hier ein einfaches Beispiel einer Methode
l = [1,2,3]
l.append(4) # mit Tab können die verfügbaren Methoden bsp. append angesehen werden
print(l)

[1, 2, 3, 4]

In [0]:
# Ein Möglichkeit die Bescheibung einer Methode auszugeben ist mit help
w = "Das ist eine Wort"
w.count('e') # Count gibt die Anzahl der gesuchten Werte aus
help(l.count)

Help on built-in function count:

count(...) method of builtins.list instance
    L.count(value) -> integer -- return number of occurrences of value

# Funktionen

Formell betrachtet ist eine Funktion ein nützliches Hilfsmittel, dass 
mehrerer Anweisungen gruppiert, damit sie mehr als einmal ausgeführt werden können.
Man kann Funktionen so definieren, dass man sie innerhalb des Codes immer wieder verwenden kann.

Eine Funktion beginnt mit einer def Anweisung

In [0]:
def name_der_funktion(parameter1, parameter2):
    '''Hier kommt ein Kommentar'''
    return
name_der_funktion # mit Shift + Tab kann man nun die Funktion inkl Kommentar ausgeben
help(name_der_funktion) # oder aus so

Help on function name_der_funktion in module __main__:

name_der_funktion(parameter1, parameter2)
    Hier kommt ein Kommentar

In [0]:
# Um die Funktion auszuführen muss wir folgt vorgegangen werden

name_der_funktion(1,2) # Mit der Funktion über geben wir die geforderten Parameter

In [0]:
# In diesem Beispiel definieren wir eine Funktion mit eine Parameter
def sag_hallo(name): # Der Parameter ist zu vergleichen mit einem Platzhalter
        print('Hallo',name)

In [0]:
sag_hallo('David') # Hier über geben wir einen Name für den Parameter

Hallo David

In [0]:
def add_num(num1,num2): # Bei diesem Beispiel definieren wir eine Funktion mit 2 Parameter
    return num1+num2 # Nun definieren wir was in der Funktion gemacht werden soll

In [0]:
add_num(4,5) # Nun übergeben wir zwei Parameter und die Funktion führt sie aus

# In diesem Fall wird nun der Wert 4 und 5 zusammengerechnet

9

In [0]:
# Die Ausgabe einer Funktion können wir auch als Variable speichern
ergebnis = add_num(3,7)
print(ergebnis)

10

In [0]:
# All diese funktioniert natürlich auch mit strings und in direkter Ausgabe
print(add_num('Halllo ', 'David'))

Halllo David

In [0]:
# In einer Funktion lassen sich ganze Routinen mit Schleifen-Anweisungen ausgeben

def ist_prim(num):
    for n in range(2,num):
        if num % n == 0:
            print('keine Primzahl')
            break
    else:
        print('Primzahl')

In [0]:
ist_prim(10)

In [0]:
# Das oben gezeigte Beispiel geht auch einfacher

import math # Hier importieren wir eine mathematisches Python Package 

def ist_prim(num):
    if num % 2 == 0 and num > 2: #
        return False
    for i in range(3, int(math.sqrt(num))+1, 2):
        if num % i == 0:
            return False
    return True

In [0]:
ist_prim(11)

True

## Lambda Ausdrücke

Lambda Ausdrücke sind sehr nützliche Tools im Pyhton. Sie erlauben es uns sogenannte "anonyme" Funktionen zu erstellen. Vereinfacht gesagt heisst das, dass wir schnell eine Funktion erstellen können ohne sie per def zu definieren. Ein Lambda Ausruck ist meist auf einer Zeile geschrieben und ist für das coden einfacher Aufgaben gedacht. Bei grösseren Aufgaben verwenden wir def.

In [0]:
# Um ein Gefühl für Lambda zu erhalten werden wir nun eine def Funktion in einen Lambda Ausdruck umwandeln.

def square(num):
    return num**2

square(2)

4

In [0]:
# Wir können dies natürlich auch noch vereinfachen und in einer einzige Zeile schreiben.
def square(num): return num**2

square(4)

16

In [0]:
# Wir werden nun diese def Beispiel in eine Lambda Funktion umwandeln.

square = lambda num: num**2 # Die return Anweisung ist bereits in Lambda beinhaltet
square(5)

25

In [0]:
# Auch die Modulo bzw. die Suche nach einer teilbaren Zahl lässt sich mittels Lambda 
# um einiges vereinfachen.

even = lambda x: x%2==0 # Lässt sich eine Wert durch zwei dividieren?
even(9)

False

In [0]:
# Auch mit Strings lassen sich in Lambda operieren.

erstes = lambda s: s[0] # Gibt den Buchstabe im Index 0 aus
umk = lambda s: s[::-1] # Gibt den String in umgekehrter Reihenfolge aus
erstes('halt'), umk('Hallo')

('h', 'ollaH')

In [0]:
# Hier noch ein Lambda Beispiel mit mehreren Parameter
add = lambda x,y: x+y
add(2,4)

6

In [0]:
# Hier ein kleines Programm zur Umrechung von Grad & Fahrenheit

quest = input('Was möchtest du berechnen 1 = Fahrenheit / 2 = Grad: ')

if quest == '1':
    grad = input('Gebe den Wert in Grad Celsius ein: ')
    g2f = lambda g: g*2+32
    print(g2f(int(grad)), 'Fahrenheit')
elif quest == '2':
    fahr = input('Gebe den Wert in Fahrenheit ein: ')
    f2g = lambda f: (f-32)/2
    print(f2g(int(fahr)), 'Grad Celsius')
else:
    print('Falscher Wert, Program beendet!')

Was möchtest du berechnen 1 = Fahrenheit / 2 = Grad: 2
Gebe den Wert in Fahrenheit ein: 140
54.0 Grad Celsius

## Verschachtelte Anweisung und Geltungsbereiche

Jetzt, da wir unsere eigenen Funktionen zu schreiben gelernt haben, ist es wichtig zu verstehen, wie Python mit Variablen Namen umgeht. Wenn wir einen Variable Namen erstellen wird dieser im sogenannten Namensraum (en.: name space) gespeichert. Variablen Namen haben außerdem einen Geltungsbereich, welcher bestimmt, welche anderen Teile des Codes diesen Namen kennen.

Der Geltungsbereich der Variablen ist über die sogenannte LEGB Regel definiert:

L: Lokal - Namen die in irgendeiner Form innerhalb einer Funktion (def oder lambda) zugewiesen werden und nicht global in dieser Funktion definiert sind.

E: Einschließende Funktionen - Namen im lokalen Geltungsbereich aller einschließenden Funktionen (def oder lambda) von innen nach außen.

G: Globale (Module) - Namen die auf der höchsten Ebene einer Datei zugewiesen werden oder innerhalb einer Funktion als global ausgewiesen werden.

B: Bereits (in Python) eingebaute - Namen die bereits in die vorinstallierten Module wie range, open, usw. eingebaut sind.

Lokale Variablen innerhalb einer Funktion gelten nur in Zusammenhang mit dieser Funktion und nicht ausserhalb.

In [0]:
# Beispiel - Lokal

calc = lambda y,x: x+y # x und y sind lokale Variablen
print(calc(10,5))

15

In [0]:
x = 50

def funk(x):
    print('x ist ',x) # Hier gilt die Globale Variable
    x = 2 # Ab hier gilt diese Variable, aber nur innerhalb dieser Funktion
    print ('Lokales x ist jetzt', x)
    
funk(x)
print('x ist noch',x)

x ist  50
Lokales x ist jetzt 2
x ist noch 50

In [0]:
# Beispiel - Einschliessende Funktionen

name = 'Das ist ein globaler Name'

def gruss():
    # Hier eine Einschliessende Funkton
    name = 'David'
    
    def hallo():
        name = 'Hans' # Innerhalb einer Funktion wird immer der "innerste" Wert genommen
        print('Hallo '+ name)
    
    hallo()

gruss()
print (name) # Wie wir unschwer erkennen können wird auch diese Variable ausgegeben.

Hallo Hans
Das ist ein globaler Name

In [0]:
# Eine bereits eingebaute Variable ist beispielsweise 

test = 'Test'
print(len(test))

4

# Objektorientierte Programmierung (OOP)

In [0]:
# Fast alles in Python ist ein Objekt so auch Listen
l = [1,2,3]
l.count(2)
print(type(l))

<class 'list'>

In [0]:
# wie ach Functionen

def quadrat(num):
    return num**2
print(type (quadrat))

<class 'function'>

## Class (Klassen)

Klassen sind von Nutzer definierte Objekte. Klassen sind wie Blaupausen welche die Eigenschaften zukünfitger Objekte festhält. Instanzen sind spezifische Objekte werlche aus bestimmten Klassen geschaffen werden. Wie Beispielweise die Liste welche wir oben erstellt haben.

In [0]:
# Wir generieren nun eine eigene KLasse

class Beispiel (object): # Wichtig ist das der Klassenname mit einem Grossbuchstaben beginnt
    pass

x = Beispiel() # Hier verküpfen wir unsere Klasse mit einer Variabel

print(type(x)) # Nun können wir uns vergewissern, dass x eine Klasse ist

<class '__main__.Beispiel'>

Der Klasse können jetzt natürlich noch Attribute und Methoden 
hinzugefügt werden. 

Ein Attribute ist dabei eine Charakteristik eines Objekts. Wenn wir Beispielsweise eine Klasse "Hund" Haben können wir ihr Attribute wie Hunderasse, Alter, Stammbaum usw. hinzufügen.

Eine Methode ist eine Operation welche wir auf ein Objekt anwenden können. Beispielswiese bei der Klasse "Hund" würde dies bellen, knurren, springen usw. sein.

In [0]:
# Hier das Beispiel Klasse "Hund"

class Hund(object):
    def __init__(self, rasse): # Hiermit definieren wir eine Funkton mit dem Attribut rasse
        self.rasse = rasse # Hiermit weisen wir die Funktion Rasse der Klasse zu
        
sam = Hund(rasse='Lab') # Mit Hilfe der Klasse generieren wir nun ein neues Objekt
frank = Hund(rasse='Husky') # Dito
frank # Wir können nun überprüfen zu welche Klasse das Objekt Frank gehört
print(type(frank)) # Das geht natürlich auch so

<class '__main__.Hund'>

In [0]:
# Nun wollen wir das Objekt Sam mal mit einem in der Klasse definierten Attribut ausgehben
sam.rasse #Ein Klammer ist nicht notwendig, da es sich nicht um eine Methode handelt

'Lab'

In [0]:
# Kommen wir nun zu den Klassen-Objekt-Attribute. Diese gelten für alle Instanzen einer Klasse
class Hund(object):
    spezies = 'Säugetier'
    
    def __init__(self,rasse,name):
        self.rasse = rasse
        self.name = name
        
sam = Hund('Lab','Sam')

print(type(sam))
sam.name
sam.spezies

<class '__main__.Hund'>

'Säugetier'

# Methoden

Neben Attributen können auch Methoden (Funktionen) in einer Klasse definiert werden. Mit ihnen können Operationen mit den Attributen durchgeführt werden.

In [0]:
class Kreis(object):
    pi = 3.14
    
    def __init__(self, radius = 1): # Hier definieren wir wieder eine Funktion und weisen Radius gleich einen Default-Wert zu. 
        self.radius = radius
        
    def flaeche(self):
        return self.radius * self.radius * Kreis.pi
    
    def radiusEinstellen(self,radius): # Mit diesem Attribut können wir den Radius individuell verändern.
        self.radius = radius
        
    def radiusErhalten(self): #Mit diesem Attribut können wir die Einstellung jederzeit abfragen
        return self.radius
        

k = Kreis(radius=100)
k.flaeche() #Achtung da es sich um einen Methode handelt bnötigen wir wieder eine Klammer

31400.0

In [0]:
k.radiusEinstellen(10)

In [0]:
k.flaeche()

314.0

In [0]:
k.radiusErhalten()

10

# Vererbung

Mit der Vererbung können neue Klassen durch bereits existierenden Klassen erstellt werden. Dies neu erstellten Klassen werden abgeleitete Klassen genannnt. Die Klassen von welche wir Vererben heissen Basisklassen. Mit der Vererbung lassen sich somit einfach bestehende Codes wieder verwenden.

In [0]:
class Tier(object):
    def __init__(self):
        print('Tier erschaffen')
        
    def werBinIch(self):
        print('Tier')
        
    def essen(self):
        print('Essen')
        
class Hund(Tier): # Wir erstellen eine neue Klassen und Vererben die Tier Klasse
    def __init__(self):
        Tier.__init__(self) #Hier beziehen wir uns auf die Klasse Tier
        print('Hund erstellen')
        
    def werBinIch(self):
        print('Hund')
        
    def bellen(self):
        print('Wuff!')

In [0]:
t = Tier()
t.werBinIch()
t.essen()

Tier erschaffen
Tier
Essen

In [0]:
h = Hund()
h.werBinIch()
h.bellen()
h.essen() # Dieses Attribut hat die Klasse Hund von der Klasse Tier vererbt bekommen.

Tier erschaffen
Hund erstellen
Hund
Wuff!
Essen

## Spezielle Methoden

In [0]:
# Wir kennen ja die bereits die Methoden welche in Python standardmässig implementiert sind.
l = [1,2,3]
print(l)
len(l)

[1, 2, 3]

3

In [0]:
# Solchen Methoden können wir aber auch selber definieren.

class Buch(object):
    def __init__(self, titel, autor, seiten):
        print('Ein Buch wird geschrieben!')
        self.titel = titel
        self. autor = autor
        self.seiten = seiten
    
    def __str__(self):
        return "Titel:%s, Autor: %s, Seiten %s"% (self.titel, self.autor, self.seiten)
        
    def __len__(self):
        return self.seiten
    
    def __del__(self):
        print('Ein Buch wurde gelöscht')
        
buch = Buch('Python rockt!', 'Patrik Di Lena', 1000)
print (buch)

Ein Buch wird geschrieben!
Titel:Python rockt!, Autor: Patrik Di Lena, Seiten 1000

In [0]:
del(buch) # Wenn wir jetzt die Methode len ausführen wird Python das nicht interpretieren können

In [0]:
class Ubuntu:
    def __init__(self, ramsize):
        self.ram = ramsize
        self.type = 'server'
        
Ubuntu = Ubuntu(2000)

In [0]:
print(Ubuntu)

<class '__main__.Ubuntu'>

## Errors und Ausnahmen Handhabung

Es gibt unterschiedliche Fehlerquellen bei der Nutzung von Python. Man unterscheidet dabei zwischen folgenden Fehlerarten:

Syntaxfehler - Hierbei handelt es sich zum Beispiel um einen vergessenen Einschub, Tipfehler usw.
Semantische Fehler - Diese Fehler sind die gefährlichsten von allen Fehlern, da sie die Logik des erstellen Algorithmus betreffen. Diese Fehler werden meist erst später erstellt.

In [0]:
# Das ist ein typischer SyntaxError auch End of Line Error (EOL) genannt

print(Hello) # Vergessen von String-Hochkommas bei Print-Funktion

NameError: name 'Hello' is not defined

In [0]:
# Syntaxfehler kann man mit try und except Anweisungen abfangen.

#Data Science mit Python#

##Numpy & Pandas##

Die Python- Libraries Pandas & Numpy finden vor allem im Gebiet der Data Science eine sehr Breite Anwendung. In den folgenden Abschnitten werden wir uns zuerst mit Pandas befassen und danach auf Numpy eingehen.

In [0]:
# to delete
import fix_yahoo_finance as fyf

###Pandas###
Pandas ist eine Programmbibliothek für die Programmiersprache Python, die Hilfsmittel für die Verwaltung von Daten und deren Analyse anbietet. Insbesondere enthält sie Datenstrukturen und Operatoren für den Zugriff auf numerische Tabellen und Zeitreihen.

**Import & Export**

Mit Pandas besteht eine Vielzahl von Möglichkeiten Daten zu importieren und zu exportieren. 

Nachfolgenden ein paar Beispiele:

In [0]:
# Daten lassen sich ganz einfach aus verschiedenen Dateien oder sogar
# Datenbanken laden. Die einfachste Form ist aus CSVs wie im folgenden
# Beispiel gezeigt.

import pandas as pd # Zuerst muss die Library geladen geladen werden


# from .csv
data = pd.read_csv("planecrashinfo.csv") # nun lesen wir ein csv

# mit .head werden die in der Klammer definierten Zeilen angezeigt, 
# dass genügt um zu überprüfen ob er Import funktioniert.
data.head(10) 
# Mit der Option data.tail(10) werden die letzten 10 Zeilen angezeigt

In [0]:
# Mit Pandas lassen sich auch Daten direkt aus dem Internet importieren
# Im folgenden Beispiel importieren wir historische Exxon Finanzdaten (XOM)
# von Yahoo.com mittels einer API.

import pandas as pd
import datetime
import pandas_datareader.data as web 


# Nun definieren wir den Datum-Range 1.Januar 2010 bis Heute
start = datetime.datetime(2010, 1 ,1)
end = datetime.datetime.now()

# Als nächsten importieren wir die Daten in ein Dataframe (df)
df_exxon = web.DataReader("XOM", "yahoo",start, end) 


print(df_exxon.head())

In [0]:
# Der Export von Daten gestaltet sich mit Pandas ebenfalls sehr einfach
# In den folgenden Beispiel werden die Daten einerseits in ein CSV und
# andererseits in ein XLS exportiert.

import pandas as pd # Zuerst muss die Library geladen geladen werden


# from .csv
data = pd.read_csv("planecrashinfo.csv") # nun lesen wir ein csv


# Exportieren von ausgewählten Spalten in ein Excel
data[['date', 'location', 'operator']].to_excel('plaincrash_short.xls')

# Exportieren aller Daten in ein CSV
data.to_csv('plaintcrash_short.csv')

**Ändern, Ersetzen, Einfügen und Löschen**

Mit Pandas können einzelne oder mehrere Werte, Spalten und Zeilen verändern, ersetzen, hinzufügen oder gar löschen.

Siehe nachfolgend ein paar Beispiele:

In [0]:
# Mit Pandas lassen sich auch Daten in verschiedene Formate konvertieren

import pandas as pd # Zuerst muss die Library geladen geladen werden


# from .csv
data = pd.read_csv("planecrashinfo.csv") # nun lesen wir ein csv

# Konverterien bestimmter Spalten in String
data['time'] = data['time'].astype('str')

# Konvertieren von bestimmten Spalten in Integer
# data['ground'] = data['ground'].fillna(-1).astype(int)

# Konvertieren von bestimmten Spalten in Numeric
# data['time'] = pd.to_numeric(data['time'])

data.head(5)

In [0]:
# Wir können aus ein durch Panda importiertes Datenset bestimmte Werte 
# auslesen.

import pandas as pd # Zuerst muss die Library geladen geladen werden


# from .csv
data = pd.read_csv("planecrashinfo.csv") # nun lesen wir ein csv

# Nachfolgend lesen wir einen bestimmten Wert aus der Spalte operator
# aus der das Wort Military beinhaltet.

data_selc = data['operator'].where(data['operator'] != 'Military')

data_selc.head(10)

In [0]:
# Bei der Datenselektion mit Pandas lassen sich bestimmte Werte in Spalten
# ausblenden. Hierzu wird drop verwendet.

import pandas as pd # Zuerst muss die Library geladen geladen werden


# from .csv
data = pd.read_csv("planecrashinfo.csv") # nun lesen wir ein csv


value_list = ['Private'] # Liste 
null_value_list = ['?']

# Mit .drop können unnötige Informationen wir folgt ausblendet werden
data = data.drop("time", axis=1) # Ganze Spalten
data1 = data.drop(data.index[2:4]) # Einzelen oder mehrere Zeilen
# :4 = bis und mit Zeile 3, 4: = Ab Zeile 4, 2:4 = Zeile 2 und 3 etc.
data2 = data.operator != 'Private' # Zeigt die Anzahl Zeilen mit True or Flase
data3 = data[data.operator.isin(value_list)] # Nur Zeilen mit Werten aus Liste
data4 = data[~data.operator.isin(null_value_list)] # Nur Zeilen mit Werten aus Liste

# mit .head werden die ersten 5 Zeilen angezeigt, dass genügt um zu 
# überprüfen ob er Import funktioniert.
data4.head()

In [0]:
# Das folgende Beispiel zeigt, wie man mit Pandas Werte in einem Datenset
# ändern kann.

import pandas as pd # Zuerst muss die Library geladen geladen werden


# from .csv
data = pd.read_csv("planecrashinfo.csv") # nun lesen wir ein csv

# Nachfolgend ersetzen wir einen bestimmten Wert im Dataset durch einen
# anderen.

data_rep = data.replace('?', 'Unknown')

data_rep.head(10)

In [2]:
# Das folgende Beispiel zeigt, wie man mit Pandas eine neue Spalte erstellt.

import pandas as pd # Zuerst muss die Library geladen geladen werden


# from .csv
data = pd.read_csv("planecrashinfo.csv") # nun lesen wir ein csv

# Nachfolgend erstellen wir eine neue Spalte und fügen Werte in die
# Datenfelder

data['casualties'] = 'n.a'

data.head(10)

,date,time,location,operator,flight_no,route,ac_type,registration,cn_ln,aboard,fatalities,ground,summary,casualties
0,"September 17, 1908",17:18,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fly...",n.a
1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1 (passengers:0 crew:1),1 (passengers:0 crew:0),0,Eugene Lefebvre was the first pilot to ever be...,n.a
2,"July 12, 1912",06:30,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,First U.S. dirigible Akron exploded just offsh...,n.a
3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The first fatal airplane accident in Canada oc...,n.a
4,"September 09, 1913",c 18:30,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20 (passengers:? crew:?),14 (passengers:? crew:?),0,The airship flew into a thunderstorm and encou...,n.a
5,"October 17, 1913",c 10:30,"Near Johannisthal, Germany",Military - German Navy,?,?,Zeppelin L-2 (airship),?,?,30 (passengers:? crew:?),30 (passengers:? crew:?),0,Hydrogen gas which was being vented was sucked...,n.a
6,"March 05, 1915",c 01:00,"Tienen, Belgium",Military - German Navy,?,?,Zeppelin L-8 (airship),?,?,41 (passengers:? crew:?),21 (passengers:? crew:?),0,Crashed into trees while attempting to land af...,n.a
7,"September 03, 1915",c 15:20,"Off Cuxhaven, Germany",Military - German Navy,?,?,Zeppelin L-10 (airship),?,?,19 (passengers:? crew:?),19 (passengers:? crew:?),0,"Exploded and burned near Neuwerk Island, when...",n.a
8,"July 28, 1916",?,"Near Jambol, Bulgeria",Military - German Army,?,?,Schutte-Lanz S-L-10 (airship),?,?,20 (passengers:? crew:?),20 (passengers:? crew:?),0,"Crashed near the Black Sea, cause unknown.",n.a
9,"September 24, 1916",c 01:00,"Billericay, England",Military - German Navy,?,?,Zeppelin L-32 (airship),?,?,22 (passengers:? crew:?),22 (passengers:? crew:?),0,Shot down by British aircraft crashing in flames.,n.a

###Numpy###
NumPy ist eine Programmbibliothek für die Programmiersprache Python, die eine einfache Handhabung von Vektoren, Matrizen oder generell großen mehrdimensionalen Arrays ermöglicht. Neben den Datenstrukturen bietet NumPy auch effizient implementierte Funktionen für numerische Berechnungen an.