<a href="https://colab.research.google.com/github/sakuronohana/my_datascience/blob/master/da_energieverbrauch_altst%C3%A4tten/da_energieverbrauch_altst%C3%A4tten.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

daturl = 'https://raw.githubusercontent.com/sakuronohana/my_datascience/master/datasets/new_strada2_data_2738408.csv'

importdat = pd.read_csv(daturl, encoding='utf-8', na_values='0')

In [25]:
importdat.head()

   Unnamed: 0  Unnamed: 0.1  BFS_NR  ... EINHEIT_KURZ     EINHEIT_LANG Unnamed: 11
0         NaN           NaN    3251  ...          MWh  Megawattstunden         NaN
1         1.0           1.0    3251  ...          MWh  Megawattstunden         NaN
2         2.0           2.0    3251  ...          MWh  Megawattstunden         NaN
3         3.0           3.0    3251  ...          MWh  Megawattstunden         NaN
4         4.0           4.0    3251  ...          MWh  Megawattstunden         NaN

[5 rows x 14 columns]

##Übersicht der Datenstruktur

In [0]:
#